CF_bgcs.csv
CF_bgcs.fa
CF_bgcs.pfam27.csv
CF_bgcs.pfam27.fa
mibig_bgcs_10dom4prot.csv
mibig_bgcs_10dom4prot.fa
mibig_bgcs_all.csv
mibig_bgcs_all.fa
mibig_bgcs_first10dom4prot.csv
mibig_bgcs_first10dom4prot.fa
mibig_bgcs_all.sequence_similarity.csv
mibig_bgcs_all.classes.csv
mibig_bgcs_all.domain_ratios.pkl
mibig_bgcs_all.domain_set.pkl
mibig_bgcs_all.pfam2vec-mean.pkl
mibig_bgcs_all.domain_set.5means.csv
mibig_bgcs_all.domain_set.5agglomerative.csv

mibig_bgcs_10dom4prot.nobias.csv
mibig_bgcs_10dom4prot.nobias.fa
mibig_bgcs_10dom4prot.pfam27.csv
mibig_bgcs_10dom4prot.pfam27.fa
mibig_bgcs_all.pfam27.csv
mibig_bgcs_all.pfam27.fa
mibig_bgcs_all.pfam-dst.csv
/mibig_bgcs_all.activity.csv
/mibig_bgcs_all.classes.filtered.csv