json
mibig_proteins.fa
mibig_domtbl.tbl
mibig_domains.csv
mibig_clustering.csv
genome
mibig_properties.csv
mibig_domtbl.nobias.tbl
mibig_compounds.csv
mibig_domains.nobias.csv
mibig_domains.pfam27.csv
mibig_domtbl.pfam27.tbl
genome-contigs
mibig_supplement.csv