Pfam-A.27.hmm
Pfam-A.27.hmm.h3f
Pfam-A.27.hmm.h3i
Pfam-A.27.hmm.h3m
Pfam-A.27.hmm.h3p
Pfam-A.hmm
Pfam-A.hmm.h3f
Pfam-A.hmm.h3i
Pfam-A.hmm.h3m
Pfam-A.hmm.h3p

Pfam-A.clans.tsv
Pfam-A.clans.csv
Pfam-A.descr.tsv