domain_set.tsne2.csv
mibig_bgcs_all.domain_set.tsne2.csv
mibig_bgcs_all.pfam2vec-mean.tsne2.csv
mibig_bgcs_all.positive_similarity.tsne2.csv
pfam2vec-mean.tsne2.csv
domain_set.tsne3.csv
mibig_bgcs_all.domain_set.tsne3.csv